<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

  <head>
    <title>Organic - Grocery Store HTML Website Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

	<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css">
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
	      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	      rel="stylesheet">
  </head>

    <div th:replace="~{front/layout/navbar}"></div>
    
   <section class="jarallax py-5">
    <img th:src="@{/img/all/banner.png}" class="jarallax-img">
    <div class="hero-content py-0 py-md-5">
      <div class="container-lg d-flex flex-column d-md-block align-items-center">
        <nav class="breadcrumb">
          <a class="breadcrumb-item nav-link" th:href="@{/public/front}">首頁</a>
          <span class="breadcrumb-item active" aria-current="page">商品</span>
        </nav>
        <h1>商品</h1>
      </div>
    </div>
  </section>
    


    <div class="py-4">
      <div class="container-lg">
        <div class="row g-5">
          <aside class="col-md-2">
            <div class="sidebar">
              <div class="widget-menu">
                <div class="widget-search-bar">
					<form role="search" method="get" class="d-flex position-relative" th:action="@{/public/Products}">
                      <input class="form-control form-control-lg rounded-2 bg-light" name="searchTerm" type="text" placeholder="查詢商品" aria-label="查詢商品">
                      <button class="btn bg-transparent position-absolute end-0" type="submit"><svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#search"></use></svg></button>
                    </form>
                </div>
              </div>
              <div class="widget-product-categories pt-5">
                <h5 class="widget-title">商品類別</h5>
                <ul class="product-categories sidebar-list list-unstyled">
                  <li class="cat-item">
                    <a th:href="@{/public/Products}" class="nav-link">全部</a>
                  </li>
                  <li class="cat-item">
                    <a th:href="@{/public/Products(productType='飲品')}" class="nav-link">飲品</a>
                  </li>
                  <li class="cat-item">
                    <a th:href="@{/public/Products(productType='零食')}" class="nav-link">零食</a>
                  </li>
                  <li class="cat-item">
                    <a th:href="@{/public/Products(productType='泡麵')}" class="nav-link">泡麵</a>
                  </li>
                  <li class="cat-item">
                    <a th:href="@{/public/Products(productType='熟食')}" class="nav-link">熟食</a>
                  </li>
                  <li class="cat-item">
                    <a th:href="@{/public/Products(productType='生活用品')}" class="nav-link">生活用品</a>
                  </li>
                  <li class="cat-item">
                    <a th:href="@{/public/Products(productType='菸酒')}" class="nav-link">菸酒</a>
                  </li>
                  <li class="cat-item">
                    <a th:href="@{/public/Products(productType='護理用品')}" class="nav-link">護理用品</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </aside>
          
          <!-- 右上角搜尋 -->
          <main class="col-md-10">
            <div class="filter-shop d-flex justify-content-between">
              <div class="showing-product">
  				 <p th:text="'Showing ' + ${currentRange} + ' of ' + ${page.totalElements} + ' results'"></p>                
              </div>
              <div class="sort-by">
				<select id="input-sort" class="form-control" name="sortField">
				  <option>排序</option>
				  <option value="productIdNew" th:selected="${param.sortField == 'productIdNew'}">最新</option>
				  <option value="productPrice" th:selected="${param.sortField == 'productPrice'}">價格由低至高</option>
				</select>
              </div>
            </div>
            <!-- //右上角搜尋 -->
            
            
            <!-- 商品 -->
              
            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                  
                <th:block th:each="product : ${page.content}">
              <div class="col">
                <div class="product-item">
                  <figure>
                    <a href="single-product.html" title="Product Title">
                      <img th:src="@{/ProductPhoto(productId=${product.productId})}" alt="Product Thumbnail" class="tab-image" th:alt="${product.productName}" style="width:200px ; height:200px">
                    </a>
                  </figure>
                  <div class="d-flex flex-column text-center">
                    <h3 class="fs-6 fw-normal" th:text="${product.productName}"></h3>
                    <div>
                      <span class="rating">
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                      </span>
                      <span>(222)</span>
                    </div>
                    <div class="d-flex justify-content-center align-items-center gap-2">
                      <del th:text="${product.productPrice}"></del>
                      <span class="text-dark fw-semibold">$18.00</span>
                      <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                    </div>
                    <div class="button-area p-3 pt-0">
                      <div class="row g-1 mt-2">
                        <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                        <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                        <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </th:block>
              
            <!-- /商品 -->
            </div>

            <nav class="text-center py-4" aria-label="Page navigation">
              <ul class="pagination d-flex justify-content-center">
            <!-- 第一頁 -->
		        <th:block th:switch="${page.number != 0}">
		         <li th:case="${true}" class="page-item">
		             <a class="page-link border-0" th:href="@{/public/Products(p=${1}, sortField=${param.sortField}, sortDir=${param.sortDir}, searchTerm=${searchTerm}, productType=${productType})}">＜</a>
		         </li>
		          <li th:case="${false}" class="page-item active disabled">
		             <a class="page-link border-0" >＜</a>
		         </li>
		        </th:block>
		    <!-- 上一頁 -->
		        <th:block th:switch="${page.number != 0}">
		         <li th:case="${true}" class="page-item">
		             <a class="page-link border-0" th:href="@{/public/Products(p=${page.number}, sortField=${param.sortField}, sortDir=${param.sortDir}, searchTerm=${searchTerm}, productType=${productType})}">上一頁</a>
		         </li>
		          <li th:case="${false}" class="page-item active disabled">
		             <a class="page-link border-0" >上一頁</a>
		         </li>
		        </th:block>
		        
		    <!-- 頁碼 -->
		        <th:block th:each="pageNumber : ${#numbers.sequence(1,page.totalPages)}">
		          <th:block th:switch="${page.number + 1 == pageNumber}">
		           <li th:case="${false}" class="page-item">
 					 <a class="page-link" th:href="@{/public/Products(p=${pageNumber}, sortField=${param.sortField}, sortDir=${param.sortDir}, searchTerm=${searchTerm}, productType=${productType})}" th:text="${pageNumber}"></a>
		           </li>
		           <li th:case="${true}" class="page-item active">
		             <span class="page-link" th:text="${pageNumber}"></span>
		           </li>
		           </th:block>
		        </th:block>
		        
		   <!-- 下一頁 -->
		        <th:block th:switch="${page.number + 1 == page.totalPages}">
			         <li th:case="${false}" class="page-item">
			             <a class="page-link" th:href="@{/public/Products(p=${page.number + 2}, sortField=${param.sortField}, sortDir=${param.sortDir}, searchTerm=${searchTerm}, productType=${productType})}">下一頁</a>
			         </li>
			         <li th:case="${true}" class="page-item disabled">
			             <a class="page-link">下一頁</a>
			         </li>
		        </th:block>
        
        	<!-- 最末頁 -->
		        <th:block th:switch="${page.number + 1 == page.totalPages}">
			         <li th:case="${false}" class="page-item">
			             <a class="page-link" th:href="@{/public/Products(p=${page.totalPages}, sortField=${param.sortField}, sortDir=${param.sortDir}, searchTerm=${searchTerm}, productType=${productType})}">＞</a>
			         </li>
			         <li th:case="${true}" class="page-item disabled">
			             <a class="page-link">＞</a>
			         </li>
		        </th:block>
		       </ul>

    </nav>

          </main>
          
        </div>
      </div>
    </div>

  <div th:replace="~{front/layout/footer}"></div>
  
<script>
let isUserAction = false;

function updateSearch() {
  let sortField = document.getElementById('input-sort').value;
  let sortDir = 'asc'; // 默认升序

  if (sortField === 'default') {
    sortField = 'productId'; // 默认排序字段
  } else if (sortField === 'productIdNew') {
    sortDir = 'desc'; // 如果是按最新排序,则使用降序
    sortField = 'productId';
  }

  if (isUserAction) {
    const url = `http://localhost:8080/FinalProject/public/Products?p=1&sortField=${sortField}&sortDir=${sortDir}`;
    window.location.href = url;
  }
}

document.getElementById('input-sort').addEventListener('change', function() {
  isUserAction = true;
  updateSearch();
});
</script>

  <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"
          integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
          crossorigin="anonymous"></script>
  <script th:src="@{/js/plugins.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  </body>
</html>