<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Checkbox Selection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #test {
            display: none;
        }
    </style>
</head>
<body>
<ul id="selectList">
    <li>
        <input type="checkbox" name="specialItem" value="Smart">智能咖啡機
        <img src="/FinalProject/ProductPhoto?productId=11" class="store11">
    </li>
    <li>
        <input type="checkbox" name="specialItem" value="Donut">甜甜圈
        <img src="/FinalProject/ProductPhoto?productId=12" class="store12">
    </li>
    <li>
        <input type="checkbox" name="specialItem" value="IceCream">霜淇淋
        <img src="/FinalProject/ProductPhoto?productId=13" class="store13">
    </li>
</ul>

<div id="test">
    這是默認內容。
</div>

<script>
    $(document).ready(function() {
        $('input[name="specialItem"]').on('change', function() {
            // 檢查被選中的復選框
            var selectedItems = [];
            $('input[name="specialItem"]:checked').each(function() {
                selectedItems.push($(this).val());
            });

            // 根據選中的復選框數量顯示不同的內容
            if (selectedItems.length > 0) {
                // 如果有選中的復選框，顯示 div
                $('#test').show();

                // 檢查是否特定兩個條件都被滿足
                if (selectedItems.includes("Smart") && selectedItems.includes("Donut")) {
                    $('#test').html("智能咖啡機和甜甜圈都被勾選！");
                } else {
                    $('#test').html("選中了: " + selectedItems.join(", "));
                }
            } else {
                // 如果沒有選中的復選框，隱藏 div
                $('#test').hide();
            }
        });
    });
</script>
</body>
</html>