<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
  <head>
    <title>EzBuy購物車</title>
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  </head>
<body>

 

  <!-- <div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div> -->
  <div th:replace="~{front/layout/navbar}"></div>

<section class="py-5">
  <div class="container-lg">
    <div class="row g-5">
      <div class="col-md-8">
       <div class="table-responsive cart">
  <form id="updateCartForm" th:action="@{/public/update-cart}" method="post">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="card-title text-uppercase text-muted">商品</th>
          <th scope="col" class="card-title text-uppercase text-muted">單價</th>
          <th scope="col" class="card-title text-uppercase text-muted">數量</th>
          <th scope="col" class="card-title text-uppercase text-muted">小計</th>
          <th scope="col" class="card-title text-uppercase text-muted"></th>
        </tr>
      </thead>
     <tbody>
    <tr th:each="product : ${session.sessionCart}" data-productId="${product.productId}">
        <td scope="row" class="py-4">
            <div class="cart-info d-flex flex-wrap align-items-center mb-4">
                <div class="col-lg-3">
                    <div class="card-image">
                        <img th:src="@{/ProductPhoto(productId=${product.productId})}" th:alt="${product.productName}" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card-detail ps-3">
                        <h5 class="card-title">
                            <a th:href="@{/product/{productId}(productId=${product.productId})}" class="text-decoration-none" th:text="${product.productName}"></a>
                        </h5>
                    </div>
                </div>
            </div>
        </td>
        <td class="py-2">
            <span th:text="'TWD ' + ${product.productPrice}" data-productId="${product.productId}"></span>
          </td>
        <td class="py-4">
            <div class="input-group product-qty w-50">
        <span class="input-group-btn">
            <button type="button" class="quantity-left-minus btn btn-light btn-number" data-type="minus" data-productId="${product.productId}">
                <svg width="16" height="16">
                    <use xlink:href="#minus"></use>
                </svg>
            </button>
        </span>
        <input type="number" name="quantity" class="form-control input-number text-center" min="1" th:value="${session.productQuantities[product.productId]}" data-productId="${product.productId}">
        <span class="input-group-btn">
            <button type="button" class="quantity-right-plus btn btn-light btn-number" data-type="plus" data-productId="${product.productId}">
                <svg width="16" height="16">
                    <use xlink:href="#plus"></use>
                </svg>
            </button>
        </span>
    </div>
        </td>
        <td class="py-4">
            <div class="total-price">
                <span class="money text-dark subTotal" data-productId="${product.productId}">TWD</span>
                <span class="subTotal" th:text="${product.productPrice * session.productQuantities[product.productId]}" data-productId="${product.productId}" ></span>
            </div>
        </td>
        <td class="py-4">
            <div class="cart-remove">
                <a th:href="@{'delete-product?productId=' + ${product.productId}}" class="btn-remove-product" data-productId="${product.productId}" th:onclick="'deleteProduct(' + ${product.productId} + '); return false;'">
                    <svg width="24" height="24">
                        <use xlink:href="#trash"></use>
                    </svg>
                </a>
            </div>
        </td>
    </tr>
</tbody>

          </table>
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <div class="total bg-grey py-5">
          <h4 class="text-dark pb-4">結帳金額</h4>
          <div class="total-price pb-5">
            <table cellspacing="0" class="table text-uppercase">
              <tbody>
                <tr class="total pt-2 pb-2 border-bottom" data-productId="${product.productId}">
                  <th>總金額</th>
                  <td data-title="Total">
                    <span class="price-amount amount text-dark ps-5" >
                      <bdi>
                        <span class="price-currency-symbol">TWD</span><span id="totalAmount" th:text="${sumTotal}"></span>
                      </bdi>
                    </span>
                  </td>
                </tr>
                <tr class="pt-2 pb-2 border-top border-bottom"  data-productId="${product.productId}">
                  <th>折扣金額</th>
                  <td data-title="discount">
                    <span class="price-amount amount text-dark ps-5">
                      <bdi>
                        <span class="price-currency-symbol">TWD</span><span id="discount" th:text="${discountMoney}"></span>

                      </bdi>
                    </span>
                  </td>
                </tr>
                <tr class="finalAmount pt-2 pb-2 border-bottom"  data-productId="${product.productId}">
                  <th>最終付款金額</th>
                  <td data-title="Final" >
                    <span class="price-amount amount text-dark ps-5">
                      <bdi>
                         <span class="price-currency-symbol">TWD</span><span id="finalAmount" th:text="${finalAmount}"></span>
                      </bdi>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="button-wrap row g-2">
            <div class="col-md-6" ><button type="submit" class="btn-update-cart btn btn-dark py-3 px-4 text-uppercase btn-rounded-none w-100">更新購物車</button></div>
            <div class="col-md-6"><button class="btn btn-dark py-3 px-4 text-uppercase btn-rounded-none w-100">繼續購物</button></div>
            <div class="col-md-12"><button  class="btn btn-primary py-3 px-4 text-uppercase btn-rounded-none w-100">結帳</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="py-5">
    <div class="container-lg">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#package"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Free delivery</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#secure"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>100% secure payment</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#quality"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Quality guarantee</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#savings"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>guaranteed savings</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#offers"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Daily offers</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <div th:replace="~{front/layout/footer}"></div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script th:src="@{/js/plugins.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   document.addEventListener('DOMContentLoaded', function() {
    const quantityMinusButtons = document.querySelectorAll('.quantity-left-minus');
    const quantityPlusButtons = document.querySelectorAll('.quantity-right-plus');
    const quantityInputs = document.querySelectorAll('input[name="quantity"]');

    quantityMinusButtons.forEach(button => {
        button.addEventListener('click', function() {
            updateQuantity(this, -1);
        });
    });

    quantityPlusButtons.forEach(button => {
        button.addEventListener('click', function() {
            updateQuantity(this, 1);
        });
    });

    quantityInputs.forEach(input => {
        input.addEventListener('change', function() {
            const productId = this.getAttribute('data-productId');
            let quantity = parseInt(this.value);
            if (isNaN(quantity) || quantity < 1) {
                quantity = 1;
                this.value = quantity;
            }
            updateCart(productId, quantity);
        });
    });

    removeButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const productId = this.getAttribute('data-productId');
            deleteProduct(productId);
        });
    });
});

function updateQuantity(button, delta) {
    const productId = button.getAttribute('data-productId');
    const quantityInput = document.querySelector(`input[name="quantity"][data-productId="${productId}"]`);
    let quantity = parseInt(quantityInput.value) + delta;
    if (quantity < 1) {
        quantity = 1;
    }
    quantityInput.value = quantity;
    updateCart(productId, quantity);
}

function updateCart(productId, quantity) {
    const requestData = {
        cartItems: [{ productId: parseInt(productId), quantity: parseInt(quantity) }]
    };

    fetch('/FinalProject/public/update-cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(requestData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        updateCartDisplay(data);
    })
    .catch(error => {
        console.error('Error updating cart:', error);
    });
}

function updateCartDisplay(data) {
    if (!data) {
        console.error('Invalid data format: data object is undefined or null.');
        return;
    }

    const cartItems = data.cartItems;
    if (cartItems && Array.isArray(cartItems)) {
        cartItems.forEach(item => {
            const productId = item.productId;
            const subtotalElement = document.querySelector(`.subTotal[data-productId="${productId}"]`);
            if (subtotalElement) {
                const quantity = item.quantity;
                const product = getProductById(productId);
                if (product) {
                    const subtotal = product.productPrice * quantity;
                    subtotalElement.innerText = `TWD ${subtotal}`;
                } else {
                    console.error(`Product not found for productId: ${productId}`);
                }
            } else {
                console.error(`Subtotal element not found for productId: ${productId}`);
            }
        });
    } else {
        console.error('Invalid data format: cartItems is not an array or is undefined.');
    }

    document.getElementById('totalAmount').innerText = `TWD ${data.sumTotal}`;
    document.getElementById('discount').innerText = `TWD ${data.discountMoney}`;
    document.getElementById('finalAmount').innerText = `TWD ${data.finalAmount}`;
}
 document.addEventListener('DOMContentLoaded', function() {
    const removeLinks = document.querySelectorAll('.btn-remove-product');

    removeLinks.forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault();

                    const productId = this.getAttribute('data-productId');
                    deleteProduct(productId);
                });
            });
        });

        function deleteProduct(productId) {
    $.ajax({
        url: `/FinalProject/public/delete-product/${productId}`,
        type: 'DELETE',
        contentType: 'application/json',
        success: function() {
            console.log('Product deleted successfully');
            removeProductFromPage(productId);
        },
        error: function(error) {
            console.error('Error deleting product:', error);
        }
    });
}

        function removeProductFromPage(productId) {
            const productElement = document.querySelector(`.btn-remove-product[data-productId="${productId}"]`);
            console.log('Product element:', productElement);
            if (productElement) {
                const row = productElement.closest('tr');
                if (row) {
                    row.remove();
                } else {
                    console.error(`Row element not found for productId: ${productId}`);
                }
            } else {
                console.error(`Product element not found for productId: ${productId}`);
            }
        }
</script>


</body>
</html>