<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <title>Organic - Grocery Store HTML Website Template</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>

  <div th:replace="~{front/layout/navbar}"></div>

  <section class="jarallax py-5">
    <img th:src="@{/img/all/banner.png}" class="jarallax-img">
    <div class="hero-content py-0 py-md-5">
      <div class="container-lg d-flex flex-column d-md-block align-items-center">
        <nav class="breadcrumb">
          <a class="breadcrumb-item nav-link" href="#">首頁</a>
          <span class="breadcrumb-item active" aria-current="page">團購訂單</span>
        </nav>
        <h1>團購訂單</h1>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container-lg">
      <div class="row g-5">
        <div class="col-md-12">

          <div class="table-responsive cart">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="card-title text-uppercase text-muted">商品</th>
                  <th scope="col" class="card-title text-uppercase text-muted">數量</th>
                  <th scope="col" class="card-title text-uppercase text-muted">總金額</th>
                  <th scope="col" class="card-title text-uppercase text-muted">狀態</th>
                  <th scope="col" class="card-title text-uppercase text-muted"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="gm : ${gms}">
                  <td scope="row" class="py-4" width="50%">
                    <div class="cart-info d-flex flex-wrap align-items-center mb-4">
                      <div class="col-lg-4">
                        <div class="card-image">
                          <img th:src="@{/ProductPhoto(productId=${gm.groupBuy.product.productId})}" class="img-fluid" th:alt="${gm.groupBuy.productName}">
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="card-detail ps-3">
                          <h5 class="card-title">
                            <a href="#" class="text-decoration-none">[[${gm.groupBuy.productName}]]</a>
                          </h5>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="py-4" width="10%">
                    <div class="input-group product-qty w-50">
                      <div class="quantity">
                        <span class="text-dark">[[${gm.quantity}]]</span>
                      </div>
                    </div>
                  </td>
                  <td class="py-4" width="10%">
                    <div class="total-price">
                      <span class="money text-dark">$[[${gm.total}]]</span>
                    </div>
                  </td>
                  <td class="py-4" width="30%">
                    <div class="status">
                      <th:block th:switch="${gm.pickupStatus}">
                        <span th:case="已訂購" class="text-dark">
                          <th:block th:if="${gm.groupBuy.groupBuyStatus=='開團中'}">
                            已訂購，預計 [[${gm.groupBuy.orderDate}]] 由店長叫貨
                          </th:block>
                          <th:block th:if="${gm.groupBuy.groupBuyStatus=='已結單'}">
                            店長已下單，等待發貨中
                          </th:block>
                        </span>
                        <span th:case="已刪除" class="text-dark">
                          <th:block th:if="${gm.quantity==0}">
                            已刪除
                          </th:block>
                          <th:block th:if="${gm.quantity!=0}">
                            揪團失敗
                          </th:block>
                        </span>
                        <span th:case="待取貨" class="text-dark">已到貨，請於 [[${gm.groupBuy.endDate}]] 前取貨</span>
                        <span th:case="已取貨" class="text-dark">已取貨</span>
                        <span th:case="未取貨" class="text-danger">未取貨</span>
                      </th:block>
                    </div>
                  </td>
                  <td th:if="${gm.groupBuy.groupBuyStatus=='開團中' && gm.pickupStatus=='已訂購'}" class="py-4" width="10%">
                    <div class="cart-remove" th:id="${gm.groupMemberId}">
                      <a href="#">
                        <svg width="24" height="24">
                          <use xlink:href="#trash"></use>
                        </svg>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </section>

  <div th:replace="~{front/layout/footer}"></div>

  <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script th:src="@{/js/plugins.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    $(".cart-remove").on("click", function () {
      event.preventDefault()
      let gmId = $(this).attr("id");
      let row = $(this).closest("tr");
      axios.put("http://localhost:8080/FinalProject/public/front/group-members/" + gmId)
        .then(res => {
          console.log(res);
          row.find(".text-dark").text(res.data.pickupStatus);
          row.find(".product-qty .text-dark").text(res.data.quantity);
          row.find(".total-price .money").text('$' + res.data.total);
          row.find(".cart-remove").remove();
        })
        .catch(err => {
          console.error(err);
        });
    });
  </script>
</body>

</html>