<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>Organic - Grocery Store HTML Website Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/yiting/map.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>


    <div th:replace="~{front/layout/navbar}"></div>

    <section class="jarallax py-5">
        <img th:src="@{/img/all/banner.png}" class="jarallax-img">
        <div class="hero-content py-0 py-md-5">
            <div class="container-lg d-flex flex-column d-md-block align-items-center">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item nav-link" href="#">首頁</a>
                    <span class="breadcrumb-item active" aria-current="page">店鋪查詢</span>
                </nav>
                <h1>店鋪查詢</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="container-lg">

            <div class="ext-light py-5 my-5"
                style="background: url('images/banner-newsletter.jpg') no-repeat; background-size: cover;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="container mt-3">
                            <div class="wrapper">
                                <table border="0">
                                    <tr>
                                        <td valign="top">
                                            <div id="map_left" class="map_left">
                                                <div id="searchList">
                                                    <div class="map_graybox">
                                                        <h2 class="search_word">依郵遞區號查詢</h2>
                                                        <input id="zip" type="text" class="search_box" />
                                                        <div class="search_button"><a href="#" id="zipSearch">搜尋</a>
                                                        </div>
                                                    </div>
                                                    <div class="map_graybox">
                                                        <h2 class="search_word">依店名查詢</h2>
                                                        <input id="shopName" type="text" class="search_box" />
                                                        <div class="search_button">
                                                            <a href="#" id="shopNameSearch">
                                                                搜尋
                                                            </a>
                                                        </div>
                                                        <div class="note ms-2"> *請輸入店名(例：中賓店)</div>
                                                    </div>
                                                </div>
                                        </td>
                                        <td valign="top">
                                            <div id="map_right" class="map_right">
                                                <!--Loading icon-->
                                                <div id="loadingDiv" class="loadingDiv" style="display: none;">
                                                    <img id="loading" src="images/loading.gif" alt="loading"
                                                        style="position: relative">
                                                </div>
                                                <!--上方搜尋列-->
                                                <div id="roadSearchBar" class="map_graybox03" style="display: block;">
                                                    <span class="icon01"> <i
                                                            class="fa-solid fa-location-dot"></i></span>
                                                    <input type="text" id="croadWord" value="請輸入縣市及街道路名查詢"
                                                        size="30"><span class="note">(EX.臺北市中山北路二段)</span>
                                                    <span class="search_icon">
                                                        <a href="#" id="croadSearch">
                                                            <i class="fa-solid fa-magnifying-glass"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                                <!----------------------地圖------------------------>
                                                <!--臺灣全地圖-->
                                                <div class="map_graybox04" id="taiwanMap" style="display: block;">
                                                    <div class="yilan city"><a href="#"
                                                            onclick="showAdminArea('宜蘭縣')">宜蘭縣</a></div>
                                                    <div class="hualien city"><a href="#"
                                                            onclick="showAdminArea('花蓮縣')">花蓮縣</a></div>
                                                    <div class="taitung city"><a href="#"
                                                            onclick="showAdminArea('臺東縣')">臺東縣</a></div>
                                                    <div class="keelung city"><a href="#"
                                                            onclick="showAdminArea('基隆市')">基隆市</a></div>
                                                    <div class="taipei city"><a href="#"
                                                            onclick="showAdminArea('臺北市')">臺北市</a></div>
                                                    <div class="newtaipei city"><a href="#"
                                                            onclick="showAdminArea('新北市')">新北市</a></div>
                                                    <div class="taoyuan city"><a href="#"
                                                            onclick="showAdminArea('桃園市')">桃園市</a></div>
                                                    <div class="hsinchu city"><a href="#"
                                                            onclick="showAdminArea('新竹市')">新竹市</a></div>
                                                    <div class="hsinchu02 city"><a href="#"
                                                            onclick="showAdminArea('新竹縣')">新竹縣</a></div>
                                                    <div class="Miaoli city"><a href="#"
                                                            onclick="showAdminArea('苗栗縣')">苗栗縣</a></div>
                                                    <div class="Yunlin city"><a href="#"
                                                            onclick="showAdminArea('雲林縣')">雲林縣</a></div>
                                                    <div class="Chiayi city"><a href="#"
                                                            onclick="showAdminArea('嘉義市')">嘉義市</a></div>
                                                    <div class="Chiayi02 city"><a href="#"
                                                            onclick="showAdminArea('嘉義縣')">嘉義縣</a></div>
                                                    <div class="Tainan city"><a href="#"
                                                            onclick="showAdminArea('臺南市')">臺南市</a></div>
                                                    <div class="Kaohsiung city"><a href="#"
                                                            onclick="showAdminArea('高雄市')">高雄市</a></div>
                                                    <div class="Pingtung city"><a href="#"
                                                            onclick="showAdminArea('屏東縣')">屏東縣</a></div>
                                                    <div class="Penghu city"><a href="#"
                                                            onclick="showAdminArea('澎湖縣')">澎湖縣</a></div>
                                                    <div class="Kinmen city"><a href="#"
                                                            onclick="showAdminArea('金門縣')">金門縣</a></div>
                                                    <div class="Lienchiang city"><a href="#"
                                                            onclick="showAdminArea('連江縣')">連江縣</a>
                                                    </div>
                                                    <div class="Taichung city"><a href="#"
                                                            onclick="showAdminArea('臺中市')">臺中市</a></div>
                                                    <div class="Changhua city"><a href="#"
                                                            onclick="showAdminArea('彰化縣')">彰化縣</a></div>
                                                    <div class="Nantou city"><a href="#"
                                                            onclick="showAdminArea('南投縣')">南投縣</a></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>



                    </div>

                </div>
            </div>

        </div>
    </section>

    <div th:replace="~{front/layout/footer}"></div>

    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>