<!DOCTYPE html>
<html lang="zh-Hant" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新特定商品優惠</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .mw576px { max-width: 576px; }
        .pt2rem { padding-top: 2.1rem !important; }
    </style>
</head>
<body>
<div th:replace="~{back/layout/navbar}"></div>
<div class="container d-flex justify-content-center">
    <form action="#" th:action="@{/private/HolidayUpdate}" method="post" class="mt-5 bg-secondary-subtle mw576px rounded-4" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" th:value="${discount.id}">
        <div class="row g-2 m-2">
            <h2 class="col-12 text-center">更新特定商品優惠</h2>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" class="form-control" id="discountName" name="discountName" th:value="${discount.discountName}" placeholder="優惠名稱" required>
                    <label for="discountName">優惠名稱</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" id="discountInfo" name="discountInfo" th:text="${discount.discountInfo}" placeholder="優惠資訊" required></textarea>
                    <label for="discountInfo">優惠資訊</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <select class="form-control" id="isActive" name="isActive" required>
                        <option th:selected="${discount.isActive == 1}" value="1">上架</option>
                        <option th:selected="${discount.isActive == 0}" value="0">下架</option>
                    </select>
                    <label for="isActive">狀態</label>
                </div>
            </div>
            <div class="col-12">
                <label for="discountImage" class="form-label">優惠圖片</label>
                <input type="file" class="form-control" id="discountImage" name="discountImage">
                <div th:if="${encodedImage != null}">
                    <img th:src="@{'data:image/jpeg;base64,' + ${encodedImage}}" width="50" height="50"/>
                </div>
            </div>
            <div class="mt-3 col-12 d-flex justify-content-center mb-3">
                <a th:href="@{/private/GetAllHolidayDiscounts}" class="btn btn-secondary me-2">返回</a>
                <button type="submit" class="btn btn-success">更新</button>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
        $('form').on('submit', function(event) {
            event.preventDefault();
            const form = this;
            Swal.fire({
                title: "確定要更新嗎？",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "green",
                cancelButtonColor: "gray",
                confirmButtonText: "更新",
                cancelButtonText: "取消",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>
</body>
</html>
