<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<title>會員登入頁面</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet"
	href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css">
<link
	href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>


	<div th:replace="~{front/layout/navbar}"></div>

	<section class="jarallax py-5">
		<img th:src="@{/img/all/banner.png}" class="jarallax-img">
		<div class="hero-content py-0 py-md-5">
			<div
				class="container-lg d-flex flex-column d-md-block align-items-center">
				<nav class="breadcrumb">
					<a class="breadcrumb-item nav-link" th:href="@{/public/front}">首頁</a>
					<span class="breadcrumb-item active" aria-current="page">登入</span>
				</nav>
				<h1>登入頁面</h1>
			</div>
		</div>
	</section>

	<section>





		<section class="py-5 my-5">
			<div class="container-sm">
				<div class="row justify-content-center">
					<div class="col-lg-6 d-flex align-items-end">
						<img th:src="@{/img/hsiao/Login.png}" alt="Login"
							class="img-fluid">
					</div>
					<div class="col-lg-6 p-5 bg-white border shadow-sm">
						<h5 class="text-uppercase mb-4">登入</h5>
						
						

						<form action="/FinalProject/front/login" method="post" id="form"
							class="form-group flex-wrap">
							<div class="col-12 pb-3">
								<label class="d-none">Username or email address *</label> <input
									type="text" name="memberAccount" id="memberAccount"
									placeholder="帳號" class="form-control">
							</div>
							<div class="col-12 pb-3">
								<label class="d-none">Password *</label> <input type="password"
									id="memberPassword" name="memberPassword" placeholder="密碼"
									class="form-control">
							</div>

							<div class="col-12 pb-3">
								<!--   <label>
                                <input type="checkbox" required="">
                                <span class="label-body">記住我</span>
                            </label> -->
							</div>
							<div class="col-12">
								<button type="submit" name="submit"
									class="btn btn-primary text-uppercase w-100">送出</button>
								<div th:if="${param.error}" class="alert alert-danger"
									th:text="${param.error}"></div>
								<div th:if="${param.success}" class="alert alert-success"
									th:text="${param.success}"></div>
								<p>
									<a th:href="@{/public/ForgetThePasswordMain}">忘記密碼了嗎?</a>
								</p>
							</div>
						</form>

						<a th:href="@{/google-login}"> <img
							th:src="@{/img/hsiao/googleLogin.png}" style="width: 220px" />
						</a> <br>
						<button class="btn btn-primary text-uppercase w-10"
							onclick="loginmember()">一鍵登入</button>
						<button class="btn btn-primary text-uppercase w-10"
							onclick="loginmemberForProduct()">商品用</button>
						<br>
						
						<div th:if="${error}" class="alert alert-danger">
							<p th:text="${error}"></p>
						</div>
							
					</div>
				</div>
			</div>
		</section>
	</section>

	<div th:replace="~{front/layout/footer}"></div>




	<script>
    function loginmember(){
    let memberName= document.getElementById('memberName');
	let memberAccount= document.getElementById('memberAccount');

    
    
    let Account ='jinghnong3514195'
    let Password = 'jinghong0704';
 
    
    memberAccount.value = Account;
    memberPassword.value= Password;
   
     }
     
         function loginmemberForProduct(){
    let memberName= document.getElementById('memberName');
	let memberAccount= document.getElementById('memberAccount');

    
    
    let Account ='chenxiaoming'
    let Password = 'mypassword';
 
    
    memberAccount.value = Account;
    memberPassword.value= Password;
   
     }
     
    </script>
</body>

</html>