<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<title>Organic - Grocery Store HTML Website Template</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet"
	href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css">
<link
	href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">
</head>

<body>
    <div th:replace="~{front/layout/navbar}"></div>

    <section class="jarallax py-5">
        <img th:src="@{/img/all/banner.png}" class="jarallax-img">
        <div class="hero-content py-0 py-md-5">
            <div class="container-lg d-flex flex-column d-md-block align-items-center">
                <nav class="breadcrumb">
                    <a class="breadcrumb-item nav-link" th:href="@{/public/front}">首頁</a>
                    <span class="breadcrumb-item active" aria-current="page">會員通知與公告</span>
                </nav>
                <h1>會員通知與公告</h1>
            </div>
        </div>
    </section>

    <div class="py-4">
    <div class="container-lg">
        <div class="row g-5">
            <main class="col-md-12">
                <div class="border p-4" style="border: 5px dashed #000000;"> 
                    <h2>通知</h2>
                    <ul class="list-group">
                        <li th:each="message : ${messages}" class="list-group-item">
                            <span th:text="${message.messageContent}"></span>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
</div>
	
	
<div>
<!-- 
 <form id="sendMessageForm" method="post" th:action="@{/public/sendMessageToAdmin}" style="padding-left: 20px;">
    <div class="form-group">
        <label for="messageContent">發送訊息給管理員</label>
        <textarea class="form-control" id="messageContent" name="messageContent" rows="4" style="border-color: black; width: 250px" required></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">發送訊息</button>
</form>
 -->
</div>
   
   <div th:replace="~{front/layout/footer}"></div>
</body>
</html>