<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
<title>重製密碼</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet"
	href="https://cdn.bootcdn.net/ajax/libs/Swiper/9.4.1/swiper-bundle.min.css">
<link
	href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
	integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
.full-height {
	height: 100vh;
}
</style>
</head>

<body>

	<div th:replace="~{front/layout/navbar}"></div>

	<section class="jarallax py-5">
		<img th:src="@{/img/all/banner.png}" class="jarallax-img">
		<div class="hero-content py-0 py-md-5">
			<div
				class="container-lg d-flex flex-column d-md-block align-items-center">
				<nav class="breadcrumb">
					<a class="breadcrumb-item nav-link" th:href="@{/public/front}">首頁</a>
					<span class="breadcrumb-item active" aria-current="page">忘記密碼</span>
				</nav>
				<h1>重置密碼</h1>
			</div>
		</div>
	</section>

	<section class="py-5 my-5">
		<div class="container-sm">
			<div class="col-lg-6 p-5 bg-white border shadow-sm">
				<h5 class="text-uppercase mb-4">重置密碼</h5>
				<form th:action="@{/front/ForgetThePasswordUpdate}" method="post" id="form"
					class="form-group flex-wrap" onsubmit="return validatePassword()">
					<div class="col-12 pb-3">
						<label class="d-none">新密碼</label> <input type="password"
							name="memberPassword" id="memberPassword1" placeholder="新密碼"
							class="form-control">
					</div>
					
					<div class="col-12 pb-3">
						<label class="d-none">再次確認</label> <input type="password"
							name="confirmPassword" id="memberPassword2" placeholder="新密碼"
							class="form-control">
					</div>
					
					<input type="hidden" name="token" th:value="${param.token}" />
					
					
					<div class="col-12 pb-3">
						<!--   <label>
                                <input type="checkbox" required="">
                                <span class="label-body">記住我</span>
                            </label> -->
					</div>
					<div class="col-12">
						<button type="submit" name="submit"
							class="btn btn-primary text-uppercase w-100">送出</button>

					</div>
				</form>
				<br>
				<button class="btn btn-primary text-uppercase w-10"   onclick= "addmember()">一鍵輸入</button>
			</div>
		</div>

	</section>

	<script>
    function validatePassword() {
        var password1 = document.getElementById("memberPassword1").value;
        var password2 = document.getElementById("memberPassword2").value;

        if (password1 !== password2) {
            alert("請確保兩次輸入的密碼相同！");
            return false;
        }
        return true;
    }
    
</script>
<script>
 function addmember(){
let memberPassword1= document.getElementById('memberPassword1');
let memberPassword2= document.getElementById('memberPassword2');

let Password = 'jinghong0704';
memberPassword2.value= Password;
memberPassword1.value= Password;
}
</script>
	<div th:replace="~{front/layout/footer}"></div>

	
</body>

</html>